<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if valor_random >= 5 %}
        <p>Valor random: {{valor_random}}</p>
    {% endif %}

    <!--Acá va todo en HTML, pero al ser un archivo de Django nos permite poner cosas en python. Para eso debemos encerrar lo python-related entre {{}} y en algunos casos {% %}, como el for de acá.-->
    <p>{% for valor in rango %}
    <li>{{valor}}</li><!--Imprime el listado de valores en formato lista HTML-->
    {% endfor %}</p>

</body>
</html>